/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------------------------- */


/* Colors and font styles */


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

body {
    font-family: 'Roboto', sans-serif;
    border: solid;
    border-width: thick;
    border-color: green;
}

.header {
    border: solid;
    border-width: thick;
    border-color: red;
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.mc1 {
    border: solid;
    border-color: blue;
    background-color: #1F2937;
    padding: 100px;
}

.body-width {
    border: solid;
    border-width: thick;
    border-color: aqua;
    padding-left: 100px;
    padding-right: 100px;
}

.text-heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.mc1-maintext {
    font-size: 18px;
    color: #E5E7EB;
}

.mc1-textcontent {
    border: solid;
    border-color: aqua;
}

.mc1-image {
    border: solid;
    border-color: red;
}

.mc1-signupbutton {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    border-style: none;
}

.linklist {
    font-size: 18px;
    color: #E5E7EB;
}

.mc2 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.mc2-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-box {
    border: solid;
}

.info-item {
    border: solid;
    border-color: red;
}

.info-item-image {
    border: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 15px;
}

/* ------------------------------------------------------- */

/* Flexbox layout and formatting */

body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.linklist {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.mc1 {
    display: flex;
    justify-content: center;
}

.mc1-box {
    display: flex;
    justify-content: center;
}

.body-width {
    display: flex;
    justify-content: space-between;
    width: 950px;
}

.mc1-textcontent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-right: 50px; */
}

.mc1-image {
    width: 450px;
    height: 200px;
}

.mc1-signupbutton {
    width: 120px;
    height: 30px;
}

.mc2 {
    display: flex;
    justify-content: center;
}

.mc2-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.info-box {
    display: flex;
    flex: 1;
    gap: 45px;
}

.info-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 145px;
}

.info-item-image {
    width: 137px;
    height: 137px;
}

.info-item-subtext {
    text-align: center;
}